@charset "utf-8";

/* Main Color palette and fonts */

html {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* headers and titles ------------------------------ */
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
}

html[data-theme='light'] {
  --switch-color: rgb(27, 168, 14);
  /* background-color -------------------------------- */
  --body-background: #F0F2F5;
  --primary-background: #FFFFFF;
  --secondary-background: #F0F2F5;
  /* border-color ------------------------------------ */
  --primary-border-color: #EBEBEB;
  /* text-color -------------------------------------- */
  --primary-text: #050505;
  --secondary-text: #65676B;
  /* button-background-color ------------------------- */
  --primary-button-background: #FFFFFF;
  --secondary-button-background: #E4E6EB;
  --third-button-background: #D5D6DB;
  /* icon-color -------------------------------------- */
  --primary-icon: #B0B3B8;
  --secondary-icon: #E4E6EB;
}

html[data-theme='dark'] {
  --switch-color: #0077ff;
  /* background-color -------------------------------- */
  --body-background: #18191A;
  --primary-background: #242526;
  --secondary-background: #3A3B3C;
  /* border-color ------------------------------------ */
  --primary-border-color: #3A3B3C;
  /* text-color -------------------------------------- */
  --primary-text: #E4E6EB;
  --secondary-text: #B0B3B8;
  /* button-background-color ------------------------- */
  --primary-button-background: #242526;
  --secondary-button-background: #3A3B3C;
  --third-button-background: #4E4F50;
  /* icon-color -------------------------------------- */
  --primary-icon: #B0B3B8;
  --secondary-icon: #E4E6EB;
}

body {
  font-family: var(--font);
  background-color: var(--body-background);
  color: var(--primary-text);
  align-items: center;
  justify-items: center;
  height: 100%;
}

.x {
  padding: 25px;
  background-color: var(--primary-background);
  border-radius: 10px;
  border: 1px solid var(--primary-border-color);
}

a {
  text-decoration: none;
}

.container h1 {
  margin: 0;
  color: var(--color-heading);
}

.container p {
  color: var(--color-text);
  /* -ms-grid-row: 2;
    -ms-grid-column: 1; */
  -ms-grid-column-span: 2;
  grid-area: content;
  margin-top: 2em;
}

.container p a {
  color: var(--color-heading);
  font-weight: 900;
  text-decoration: none;
}


/*-------- Navbar --------*/

.navbar {
  padding: 20px 10px;
  background-color: transparent;
  transition: 0.3s;
}

.navbar a {
  color: var(--primary-text);
}

.navbar .navbar-brand {
  color: var(--primary-text);
  text-transform: uppercase;
  font-weight: var(--font-weight-5);
  font-size: 20px;
}

.navbar .navbar-item ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navbar-item ul li .nav-link {
  font-size: 17px;
  display: block;
  padding: 9px 15px;
  color: #c7af8b;
  text-decoration: none;
  font-weight: 500;
}

.navbar .navbar-btn>button {
  border: none;
  background-color: transparent;
  color: #999999;
  padding: 0;
  z-index: 10;
}

.navbar button:hover {
  cursor: pointer;
}

.navbar button:focus {
  outline: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-text);
  width: 25px;
  transition: all 0.25s ease;
}

.collapsed .icon-bar {
  width: 22px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 5px;
}

.navbar-toggle.collapsed .icon-bar:nth-child(1) {
  transform: none;
}

.navbar-toggle .icon-bar:nth-child(1) {
  transform: rotate(-45deg);
  /* transform-origin: 90% 50%; */
  transform-origin: 90% 200%;
}

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
  opacity: 1;
}

.navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.collapsed .icon-bar:nth-child(3) {
  transform: none;
}

.navbar-toggle .icon-bar:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: 82% -90%;
}


/*------------Fix fun--------------*/

.navbar .navbar-btn-group>ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-btn-group .navbar-btn {
  width: 40px;
  height: 40px;
  background-color: var(--secondary-button-background);
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar .navbar-btn-group .navbar-btn.btn-super-menu {
  width: 50px;
  height: 50px;
}

.navbar-search {
  width: 250px;
  height: 40px;
  border-radius: 25px;
  margin-left: 8px;
  margin-right: 8px;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-search>.input-group>input {
  height: 40px;
  border-radius: 25px !important;
  background-color: var(--secondary-button-background);
  color: var(--primary-text);
  border: none;
  padding: 0 15px;
  margin-right: -40px;
}

.navbar-search>.input-group>.btn-search {
  height: 40px;
  width: 40px;
  border-radius: 25px !important;
  background-color: var(--secondary-button-background);
  color: var(--primary-text);
  border: none;
  z-index: 999;
}

.navbar-search>.input-group>.btn-search:hover {
  background-color: var(--third-button-background);
}

.navbar-search>input:focus {
  outline: none;
}

.navbar .navbar-btn-group .navbar-btn:last-child {
  margin-right: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-toggle::after {
  display: none;
}

.navbar .navbar-btn-group .navbar-btn:hover {
  background-color: var(--third-button-background);
}

.navbar .navbar-btn-group .navbar-btn a {
  pointer-events: auto;
  position: relative;
}

.navbar .navbar-btn-group .navbar-btn .icon {
  font-size: 1.125rem !important;
}

.navbar .navbar-btn-group .navbar-btn>a:hover {
  background-color: transparent !important;
}

.navbar .navbar-btn-group .navbar-btn ul.dropdown-menu {
  top: 50px !important;
  padding: 8px;
  right: auto;
  left: auto;
}

.navbar .navbar-btn-group .navbar-btn .c-badge {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: #dc3545;
  color: #FFFFFF;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  display: block;
  text-align: center;
}

.navbar .navbar-btn-group .navbar-btn ul.dropdown-menu {
  padding: 10px;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu .dropdown-item {
  padding: 10px;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu.action-dropdown .dropdown-item {
  padding: 8px 12px;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu .dropdown-item:hover {
  background-color: var(--secondary-background);
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu .dropdown-item.view-all-link {
  padding: 8px 12px !important;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu .dropdown-item>a {
  display: block;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu .dropdown-item>a:hover {
  text-decoration: none;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu .dropdown-item .media .media-object {
  border-radius: 50%;
}

.navbar .navbar-btn-group .navbar-btn .dropdown-menu .dropdown-item .media .media-heading {
  font-weight: 500;
  font-size: .95rem;
}

.navbar .navbar-btn-group .navbar-btn ul.dropdown-menu li.dropdown-item .media .text {
  font-size: .925rem;
}

.dropdown-menu {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
}

.dropdown-menu .dropdown-item {
  border-radius: 8px;
  color: #dfdfdf;
  transition: .3s;
}


/*-------- Sidebar Menu --------*/

.sidebar.show {
  transform: none;
  width: 280px !important;
  border: 1px solid var(--primary-border-color);
}

.sidebar {
  height: 60vh;
  width: 0;
  position: fixed;
  z-index: -1;
  top: 20vh;
  right: 20px;
  bottom: 0;
  background-color: var(--primary-background);
  overflow-x: hidden;
  transition: all 0.4s ease;
  border-radius: 10px;
}

.sidebar .menu {
  margin-top: 45%;
}

.sidebar.collapse:not(.show) {
  display: block;
}

.sidebar .closebtn {
  position: absolute;
  top: -18px;
  right: 24px;
  color: #999;
  font-size: 60px;
  transition: .5s;
}

.sidebar .closebtn:hover {
  text-decoration: none;
}

.sidebar>ul>li {
  width: 100%;
}

.sidebar>ul>li>a {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
  letter-spacing: 1px;
  transition: 0.2s;
  display: block;
  color: var(--secondary-text);
  margin: 0 10px;
}

.sidebar>ul>li>a:hover {
  color: #f1b200;
  background-color: #3d3d3d;
  border-radius: 8px;
}

.sidebar>ul>li>div.switch-theme {
  justify-content: space-between;
  padding: 9px 10px;
  margin: 0 10px;
}

.sidebar>ul>li>div.switch-theme .label-theme {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.2s;
  color: var(--secondary-text);
}


/**/

input.switch-button {
  /* styling for input element */
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  /* styling for labels */
  cursor: pointer;
  width: 36px;
  height: 18px;
  background-color: var(--switch-color);
  border-radius: 100px;
  position: relative;
  margin-top: 3px;
}

label:after {
  /* styling for labels - on toggle */
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked+label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}


/**/

.card {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border-color);
}