@charset "utf-8";
.x {
  padding: 25px;
  background-color: var(--primary-background);
  border-radius: 10px;
  border: 1px solid var(--primary-border-color);
}

.container h1 {
  margin: 0;
  color: var(--color-heading);
}

.container p {
  color: var(--color-text);
  /* -ms-grid-row: 2;
    -ms-grid-column: 1; */
  -ms-grid-column-span: 2;
  grid-area: content;
  margin-top: 2em;
}

.container p a {
  color: var(--color-heading);
  font-weight: 900;
  text-decoration: none;
}


/**/

.menu-feature a {
  width: 100%;
  border-radius: 12px;
  background-color: var(--primary-button-background);
  border: 1px solid var(--primary-border-color);
  color: var(--primary-text);
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: start;
  transition: 0.5s;
}

.menu-feature a:hover {
  transform: scale(1.02, 1.05);
}

.menu-feature a i {
  width: 80px;
  height: 80px;
  font-size: 30px;
  background-color: var(--secondary-button-background);
  border-radius: 50px;
  margin-right: 12px;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


/*-------- Util --------*/

.m-mb-20 {
  margin-bottom: 20px;
}